extends fraimMain

block content
        #boxmenu
          h1 Shablon
          .E5E6E7
            ul
              li main
              li page_1
              li page_2
              li page_3
        #box
          #block.E5E6E7
            article
              section.actFraim head
              section.actFraim header
              article
                section.actFraim menu
              section.actFraim gallery
              section.pasFraim content
              section.actFraim sidebar
              article
                section.actFraim advert
              section.actFraim footer
            ul
              li
                a(href="") head
              li
                a(href="") header
                ul
                  li
                    a(href="") menu
              li
                a(href="") gallery
              li
                a(href="") content
              li
                a(href="") left_block
                ul
                  li
                    a(href="") advert
              li
                a(href="") footer
            .actFraim
            .pasFraim
