body{
	font-family: HeliosThin;
}
button{
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}
a:visited,a:link{
	color:#fff;
	text-decoration: none;
}
a:active,a:focus{
	color:#999;
	text-decoration: none;
}
a:hover{
	color:#fff;
	text-decoration: underline;
}
h1{
	font-weight: 500;
	font-family: helvetica;
}
nav ul li{
	font-size: 20px;
	list-style-type: none;
}
#left{
	height: 100%;
	background-color: #000;
	color: #fff;
	float: left;
	background: none repeat scroll 0% 0% #4D4D4D;
	position: absolute;
	z-index: 2;
	width: 225px;
	margin: 0;
	top: 0;
	position: fixed;
}
#right{
	padding: 0px 50px;
	text-align: justify;
	min-height: 100%;
	margin: 20px 200px;
}
#logoAdm{
	width: 200px;
	height: 65px;
	background-image: url(../img/logo_adm.png);
	background-repeat: no-repeat;
	margin: 10px;
	background-size: 200px;
}
#boxmenu{
	width: 230px;
	position: fixed;
}
#block{
	width: 80%;
	min-width: 500px;
	min-height: 600px;
}
#box{
	width: 100%;
	min-width: 600px;
	margin: 0px 250px;
}
table{
	width: 100%;
}
.E5E6E7{
	background: #E5E6E7;
}
.actFraim,.pasFraim{
	width: 180px;
	height: 60px;
	margin: 20px;
	font-size: 20px;
	padding: 15px 30px;
	font-weight: bold;
}
.actFraim{
	color: #FFF;
	background-color: #4D4D4D;
}
.pasFraim{
	color: #FFF;
	background-color: #CACACA;
}
#arrow{
	position: absolute;
	left: 0px;
	transition: 0.5s;
	transform: rotate(-90deg);
}
#arrow img{
	margin: 10px;
}
.showelements:hover #arrow{
	transform: rotate(0deg);
	transition: 0.5s;
}
.elements{
	transition: 0.5s;
	visibility: hidden;
	display: none;
}
.showelements:hover .elements{
	transition: 0.5s;
	visibility: visible;
	display: block;
}
.newElement{
	width: 165px;
	margin: 0 -25px;
}
.plus{
	width: 25px;
	border: none;
	margin: 0 0 0 32px;
	background: none;
}
.padding0{
	padding: 0;
}
.back-end textarea{
    border: none;
    width: 100%;
    min-height: 600px;
    resize: vertical;  
}