body{
	font-family: HeliosThin;
}
button{
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}
header,#left{
	background: #000;
	color: #fff;
}
#right,#left{	
	margin-top: 75px;
}
header{
	margin: auto;
	height: 75px;
	width: 100%;
	background: none repeat scroll 0% 0% #000;
	color: #FFF;
	position: absolute;
	z-index: 9;
	border-bottom: 5px solid #B1B1B1;
}
main{
	width: 100%;
	height: 100%;
}
#logo{
	margin: 10px;
	z-index: 9999;
}
#iconmenu,#checkAct{
	margin: 10px;
}
#iconmenu{
	background-image: url(../img/mobmenu.png);
	background-repeat: no-repeat;
	background-size: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
}
#left{
	height: 100%;
	background-color: #000;
	color: #fff;
	float: left;
	background: none repeat scroll 0% 0% #000;
	position: absolute;
	z-index: 2;
	left: 0;
}
#right{
	padding: 1px 20px;
	text-align: justify;
	min-height: 100%;
}
#content{
	margin: 0;
	padding: 0;
	list-style: none;
	background: #999;	
}
#left ul{
	margin: 0-20px;
}
#left ul li{
	list-style: none;
}
#left ul li a {
	font-size: 25px;
	color:#fff; 
	-moz-transition: color 0.3s 0.03s ease;
	-o-transition: color 0.3s 0.03s ease;
	-webkit-transition: color 0.3s 0.03s ease;
}	
#left ul li a:hover {
	color:red;
}
#content .li{
	float: left;
}
#globe {
	color:#E6E7E8;
	margin: 10px;
	width: 150px;
	height: 150px;
	float: left;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.80);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.80);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.80);
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	transition: 0.3s linear;
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-ms-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
	animation:mymove 2s;
	animation-delay:1s;
	/* Firefox */
	-moz-animation:mymove 2s;
	-moz-animation-delay:1s;
	/*Safari and Chrome*/
	-webkit-animation:mymove 2s;
	-webkit-animation-delay:1s;
	/* Opera */
	-o-animation:mymove 2s;
	-o-animation-delay:1s;
}
#globe:hover {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}
#checkAct {
	z-index: 8888;
	position: absolute;
	width: 50px;
	height: 50px;
	opacity: 0;
}
#rightContent{
	float: right;
}
#logo, #comment, #search, #entrance, #phone{
	display: inline-block;
}
#search input{
    border: 2px solid #999;
    border-radius: 15px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 40px auto;
    padding-left: 50px;
	height: 45px;
	width: 250px;
	color: #000;
	font-size: 20px;
}
#phoneContent{
	position: absolute;
	margin-top: -30px;
}
#phoneContent a{
	color: #FFF;
	font-size: 22px;
	line-height: 1;
}
#phoneContent a:hover{
	color: #f00;
	text-decoration: none;
}
#comment, #search, #entrance{
	margin: 5px 0;
}
#logo img, #comment  img, #entrance  img{
	width: 65px;
}
#body{
    margin: 90px 50px 0 250px;
}