p account!
  |привет мир!<br>
  |Данная лицензия разрешает лицам,
  |получившим копию данного программного
  | обеспечения и сопутствующей документации 
  |(в дальнейшем именуемыми «Программное Обеспечение»), 
  |безвозмездно использовать Программное Обеспечение без ограничений,
  | включая неограниченное право на использование, копирование,
  | изменение, добавление, публикацию, распространение,
  | сублицензирование и/или продажу копий Программного Обеспечения,
  | также как и лицам, которым предоставляется данное 
  | Программное Обеспечение, при соблюдении следующих условий:
  | нечто прикольное
p Да здравствует великая фигня
  span jjjjjj
  | кем бы ты ни был